<div class="buttons-container">
    <p class="text">Renta o compra las mejores películas.</p>
    <button mat-raised-button class="btn-trailer" (click)="openDialog(movie)">
        <mat-icon>smart_display</mat-icon> Ver trailer
    </button>
    <button mat-raised-button color="primary" *ngIf="movie.purchasestock != 0" (click)="buyMovie(movie._id)">
        ${{movie.purchaseprice}} Compra 
    </button>
    <button mat-raised-button color="accent" *ngIf="movie.rentalstock != 0" (click)="rentMovie(movie._id)">
        ${{movie.rentalprice}} Renta 48Hs
    </button>
    <button mat-raised-button routerLink="/public/movies">
        <mat-icon>add_shopping_cart</mat-icon> Seguir comprando
    </button>
    <button mat-raised-button color="primary" routerLink="/public/cart">
        <mat-icon>shopping_cart</mat-icon> Ir al carrito
    </button>
</div>