a {
    text-decoration: none;
    color: inherit;
}

mat-toolbar {
    width: 100%;
    height: 64px; 
    background-color: transparent;
    color: #fff;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 30px;
    height: auto;
    margin-right: 6px; 
}

.logo-name {
    margin-bottom: 0;
}

.btn-signin {
    width: 180px; /*ajustar normal*/
    height: 50px; /*ajustar normal*/
    font-size: 20px; /*ajustar normal*/
    margin-left: 16px; /*ajustar normal*/
}

.btn-user {
    margin-left: 16px;
}

@media (min-width: 600px){
    mat-toolbar {
        width: 100%;
        height: 100px; 
        background-color: transparent;
        color: #fff;
        z-index: 1000;
    }

    .logo-image {
        width: 45px; /*ajustar 30px*/
        height: auto;
        margin-right: 12px; /*ajustar 6px*/
    }
    
    .logo-name {
        font-size: 25px; /*ajustar normal*/
        margin-bottom: 0;
    }    
}