<mat-toolbar [ngClass]="[_authService.isLogged()? 'navbar' : 'initial-navbar']">
    <ng-container *ngIf="_authService.isLogged()">
        <div fxHide.gt-xs>
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </ng-container>

    <div fxFlex fxLayoutAlign="start">
        <a class="logo-container" routerLink="/">
            <img [ngClass]="[_authService.isLogged()? 'logo-image' : 'initial-logo-image']" src="../../../assets/images/logo/Logo-White.png" alt="">
            <p [ngClass]="[_authService.isLogged()? 'logo-name' : 'initial-logo-name']">HomeMovie</p>
        </a>
    </div>

    <ng-container *ngIf="_authService.isLogged()">
        <ng-container *ngIf="!user?.isadmin">
            <div fxFlex fxLayoutAlign="end" fxHide.xs>
                <button mat-button routerLink="/movies">
                    Películas
                </button>

                <app-cart-widget></app-cart-widget>

                <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu" class="btn-user"> 
                    <mat-icon>emoji_emotions</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item disabled>
                        <mat-icon>person</mat-icon> {{user?.name}}
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item routerLink="/myorders">
                        <mat-icon>shopping_basket</mat-icon>
                        <span>Mis pedidos</span>
                    </button>
                    <button mat-menu-item (click)="logOut()">
                        <mat-icon>lock_open</mat-icon>
                        <span>Cerrar sesión</span>
                    </button>
                </mat-menu>
            </div>

            <app-cart-widget fxHide.gt-xs></app-cart-widget>
        </ng-container>

        <ng-container *ngIf="user?.isadmin">
            <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
                <button mat-button routerLink="/users">
                    Usuarios
                </button>
                <button mat-button routerLink="/orders">
                    Pedidos
                </button>
                <button mat-button routerLink="/movies">
                    Películas
                </button>
                <button mat-button routerLink="/">
                    <mat-icon>lock_open</mat-icon> Cerrar Sesión
                </button>
            </div>
        </ng-container>
    </ng-container>
</mat-toolbar>