<button mat-raised-button routerLink="/admin/movies">
    <mat-icon>arrow_back</mat-icon> Regresar
</button>

<h1>Completar los datos:</h1>

<div class="form-add">
    <form [formGroup]="formAddMovie" (submit)="saveMovie()">
        <button [disabled]="formAddMovie.invalid" class="btn-save" type="submit" mat-raised-button color="primary" >
            Guardar
        </button>
        <div class="main-data">   
            <mat-form-field appearance="fill">
                <mat-label>Título</mat-label>
                <input type="text" formControlName="title" matInput>
            </mat-form-field>
        </div>

        <div class="number-data">
            <mat-form-field appearance="fill">
                <mat-label>Stock Compra</mat-label>
                <input type="number" formControlName="purchasestock" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Stock Alquiler</mat-label>
                <input type="number" formControlName="rentalstock" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Precio Compra</mat-label>
                <input type="number" formControlName="purchaseprice" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Precio Alquiler</mat-label>
                <input type="number" formControlName="rentalprice" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Año</mat-label>
                <input type="number" formControlName="year" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Duración</mat-label>
                <input type="number" formControlName="runtime" matInput>
            </mat-form-field>
        </div>

        <div class="textarea-data">
            <mat-form-field appearance="fill">
                <mat-label>Trama</mat-label>
                <textarea formControlName="plot" matInput></textarea>
            </mat-form-field>
        </div>

        <div class="string-data">
            <mat-form-field appearance="fill">
                <mat-label>Clasificación</mat-label>
                <input type="text" formControlName="rated" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Fecha Lanzamiento</mat-label>
                <input type="text" formControlName="released" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Género</mat-label>
                <input type="text" formControlName="genre" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Director</mat-label>
                <input type="text" formControlName="director" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Guionista</mat-label>
                <input type="text" formControlName="writer" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Actores</mat-label>
                <input type="text" formControlName="actors" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Idioma</mat-label>
                <input type="text" formControlName="language" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>País</mat-label>
                <input type="text" formControlName="country" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Premios</mat-label>
                <input type="text" formControlName="awards" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Imagen Card</mat-label>
                <input type="text" formControlName="cardimg" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Imagen Poster</mat-label>
                <input type="text" formControlName="posterimg" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Imagen Banner</mat-label>
                <input type="text" formControlName="bannerimg" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>URL Trailer</mat-label>
                <input type="text" formControlName="urltrailer" matInput>
            </mat-form-field>
        </div>
    </form>
</div>