<ng-container *ngIf="orders, else ProgressSpinner">
  <ng-container *ngIf="orders.length > 0">
    <div class="myorders-container">
      <h3 class="myorders-text"> <mat-icon>shopping_basket</mat-icon> Mis pedidos</h3>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let order of orders" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pedido N° {{orders.indexOf(order) + 1}}
            </mat-panel-title>
            <mat-panel-description>
                <p class="order-description">Precio Total: $ {{(order.total).toFixed(2)}}</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
  
          <app-orders-table [orders]="order.order"></app-orders-table>
         
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-container>

  <ng-container *ngIf="orders.length == 0">
    <div class="orders-empty">
      <h1 class="orders-empty-text">No tiene ningún pedido realizado.</h1>
    </div>
  </ng-container>
</ng-container>

<ng-template #ProgressSpinner>
  <div class="spinner">
      <mat-spinner></mat-spinner>
  </div>
</ng-template>